.conda_env/
.eggs/
CaSim.egg-info/
__pycache__/
casim/params.py
docs/build/
casim/params.py
docs/build/
.*.*.swp
*.*~
*.*.bu
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.pdf
*.synctex.gz
tags
.idea/
casim/casim_out/
docs/make.bat
docs/source/include/notebooks/.ipynb_checkpoints/
docs/source/include/notebooks/out/
paper.md.backup
paper.tex.orig
paper_from_tex.md
references.bib.bak
references.bib.sav
test/.ipynb_checkpoints/
test/casim_out/
test/profiling_20190531/
test/profiling_20190605/
test/profiling_out/
generate_metadata.rb
